@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply antialiased bg-[#050505]; }
}

@layer utilities {
  .text-shadow { text-shadow: 0 0 8px rgba(57, 255, 20, 0.8); }
}
